body {
    margin: 0;
    height: 100vh;
}

.wrapper{
    height: 100vh;
}

.img_box {
    background-color: forestgreen;
    width: 85%;
    height: 30%;
    position: fixed;
    left: 15%;
    z-index: 5;
}


.menu {
    background-color: lavender;
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 10;
}

.menu_box{
    margin: 10px;
}

.img_stuff{
    margin: 10px;
}


.product_area{
    background-color: gainsboro;
    width: 86%;
    position: relative;
    left: 14%;
    top: 29%;
    padding: 10px;
    display: grid;
    /* column-width: auto;
    column-count: 4; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: auto; */
    column-gap: 20px;
    height: 1000px;
    margin: 0;
}

.product_box{
    background-color: whitesmoke;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .menu{
        left: -50%;
        width: 50%;
    }

    .product_area{
        width: 100% !important;
        left: 0px;
    }

    .img_box{
        left: 0;
        width: 100%
    }

}