@keyframes menu {
    0%{height: 60px; top: 0;}
    100% {height: 150px; top: -90px;}
}

@keyframes anti_menu {
    0% {height: 150px; top: -90px;}
    100% {height: 60px; top: 0;}
}

@keyframes fadein {
    0% {opacity: 0;}
    20% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeout {
    0% {opacity: 1; visibility: visible; pointer-events: none;}
    60% {opacity: 0; visibility: hidden; pointer-events: none;}
}



body {
    margin: 0;
    height: 100vh;
}

.wrapper{
    height: 100vh;
}

.img_box {
    background-color: rgb(63, 72, 82);
    width: 85%;
    height: 25%;
    position: fixed;
    left: 15%;
    z-index: 15;
    /* background-image: url("../img/banner_art.png"); */
    color: white;
}
.img_galaxy{
    width: 100%;
    height: 100%;
    background-image: url("../img/red_galaxy.png");
    background-size: 100%;
    background-position: 50%;
}

.img_object{
    width: 20%;
    height: 100%; 
    position: absolute;
    bottom: 0;
    background-image: url("../img/ppl_standing_on_asteroid.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    /* z-index: 10; */
}

.img_object img{
    position: absolute;
    bottom: 0;
    height: 90%;
}

.img_logo{
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("../img/logo.png");
    height: 100%;
    width: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}


.menu {
    background-color: rgb(134, 0, 0);
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 15;
}

.pointer{
    background-image: url("../img/pointer.png");
    background-size: 100%;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    top: 17px;
}

.cover{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    visibility: hidden;
}

.tadaa{
    visibility: visible !important;
}

.appear{
    left: 0 !important;
    z-index: 100 !important;
}

.menu_box{
    margin: 10px;
}

.img_stuff{
    margin: 10px;
    position: absolute;
    top: 0;
}

.info_box{
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 86%;
    height: 50px;
    left: 14%;
    top: 24%;
    z-index: 10;
}

.info_box p{
    font-size: 2rem;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    margin-top: 7px;
}

.product_area{
    width: 85%;
    position: relative;
    left: 15%;
    top: 24%;
    bottom: 0 !important;
    display: grid;
    /* column-width: auto;
    column-count: 4; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 50px auto; */
    column-gap: 20px;
    margin: 0;
}

#this_should_be_the_same_color{
    background-color: darkgrey;
}

.footser{
    z-index: -10;
    position: fixed;
    height: 1000px;
    width: 100%;
    bottom: 0;
}

.product_box{
    background-color: rgb(60, 60, 66);
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.product_img{
    height: 100%;
    width: 100%;
    margin: 0;
    background-size: 100%;
}

#asteroid_1{
    background-image: url("../img/asteroid_1.png");
}

#asteroid_2{
    background-image: url("../img/asteroid_2.png");
}

#asteroid_3{
    background-image: url("../img/asteroid_3.png");
}

#comet_1{
    background-image: url("../img/comet_1.png");
}

.product_box:hover{
    box-shadow: 0px 0px 45px 5px rgba(0,0,0,0.3);
}

.product_info:hover{
    animation: menu 0.5s forwards;
}

.product_info:hover ul{
    animation: fadein 0.5s forwards;
    visibility: visible;
    pointer-events: none;
}

.product_info:not(:hover){
    animation: anti_menu 0.5s forwards;
}

.product_info:not(:hover) ul{
    animation: fadeout 0.5s;
    pointer-events: none;
}

.product_info{
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    height: 60px;
    position: relative;
    top: -100px;
    text-align: center;
    color: black;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.product_info h1{
    font-size: 1.3rem;
    margin: 0;
}

.product_info p{
    margin: 3px;
    font-size: 0.8rem;
}

p u{
    font-size: 1rem !important;
}

.product_info ul{
    position: relative;
    top: -10px;
    text-align: left;
    color: black;
    visibility: hidden;
}

.price{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(200, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.product_info i{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
}


.button{
    font-size: 20px;
    color: white;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    cursor: pointer;
    margin-bottom: 7px;
}

.menu_box ul{
    list-style: none ;
    width: 100%;
    /* margin-left: 0; */
    position: relative;
    left: -10px;
    margin-bottom: 10px;
}

/* .menu_box ul:before{
    background-image: url("../img/ppl_standing_on_asteroid.png");
    height: 16px;
} */

a:visited{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

.cart{
    position: fixed;
    right: 20%;
}

.home{
    position: fixed;
    right: 40%;
}

.info{
    position: fixed;
    right: 30%;
}

.img_stuff i{
    color: white;
    font-size: 2rem !important;
}

.img_stuff i:hover{
    text-shadow: 0px 0px 10px #ffffff;
}

.search{
    position: fixed;
    right: 10%;
}

.name{
    position: absolute;
    right: 15%;
    bottom: 10%;
    font-size: 2.5rem;
}

.hamburg_menu{
    visibility: hidden;
}

@media screen and (min-width: 1400px) { 
    .product_area{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
}

/* @media screen and (min-width: 1300px){

    .menu_box ul{
        left: -10px;
    }
} */

@media screen and (max-width: 1200px) { 
    .product_area{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .img_box{
        height: 20%;
    }

    .info_box{
        top: 20%;
    }

    .product_area{
        top: 20%;
    }

    .button{
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) { 

    .menu_box ul{
        left: -20px;
    }

}
    
    

@media screen and (max-width: 900px) { 
    .img_box{
        height: 20%;
        width: 100%;
        left: 0;
    }
    

    .info_box{
        width: 100%;
        left: 0;
    }

    .menu {
        left: -40%;
        width: 40%;
    }

    .product_area{
        width: 100% !important;
        left: 0px;
        top: 20%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .button{
        font-size: 20px;
    }

    .pointer{
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        top: 17px;
    }

    .hamburg_menu{
        visibility: visible;
    }

    .menu_box ul{
        left: 0px !important;
    }
}


@media screen and (max-width: 700px) {

    .product_area{
        width: 100% !important;
        left: 0px;
        top: 15%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .img_logo{
        width: 70%;
    }

    .product_box{
        height: 150px;
        width: 150px;
    }

    .product_info{
        height: 45px;
        top: 150px;
    }

    .price{
        font-size: 1.5rem;
    }

    .img_box{
        left: 0;
        width: 100%;
        height: 15%;
    }

    .info_box{
        top: 15%;
    }

    .name{
        visibility: hidden;
    }

    .img_object{
        visibility: hidden;
    }
    .menu {
        left: -50%;
        width: 50%;
    }


}

@media screen and (max-width: 550px) { 
    .product_area{
        grid-template-columns: 1fr 1fr;
    }

    .img_logo{
        visibility: hidden;
    }

    .img_box{
        left: 0;
        width: 100%;
        height: 10%;
    }

    .info_box{
        top: 10%;
    }

    .product_box{
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .menu {
        left: -70%;
        width: 70%;
    }

    i{
        font-size: 1.5rem !important;
    }
    .cart{
        right: 25%;
    }
    
    .info{
        right: 40%;
    }

    .home{
        right: 55%;
    }

}